/*
    By Nick Bartel
    Really simple style stuff
    I am not adept at css or aesthetic stuff in general please be kind
 */
.catalog:nth-child(even) {
    background-color: white;
}

.catalog:nth-child(odd) {
    background-color: lightblue;
}

.text{
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
}

.navbar{
    text-align: center;
    width: 100%;
    font-size: 14pt
}